<ion-view title="Home" id="page1">
  <ion-content padding="true" class="has-header">
    <form id="home-form1" class="list">
      <label class="item item-input" id="home-search1" style="">
        <i class="icon ion-search placeholder-icon"></i>
        <input id="pac-input" placeholder="Where to?" type="search"/>
      </label>
    </form>
      <div id="map" >
      </div>
      <div id="right-panel">
      </div>
  </ion-content>
  <ion-footer-bar class="bar-dark">
    <div class="col col-offset-60 col-30">
      <button class="button button-assertive" id="quickstart-sign-out">Sign out</button>
    </div>
  </ion-footer-bar>
</ion-view>